*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #444;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /* border: 1px solid white; */
  background: #000;
  margin: 0 auto;
  width: 70%;
  height: 70vh;
  max-height: 70vh;
  overflow: auto;
  position: absolute;
  z-index: 2;
}

.cmdline {
  display: flex;
}

/* .prompt {

} */

.input-container {
  width: 100%;
}

#cmdline-input {
  width: 100%;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font: inherit;
  color: inherit;
  border: none;
  padding-left: 5px;
}

/* Draggable */

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #888;
  color: #fff;
}
